@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{  
    margin: 0;  
}  
* html body{  
    overflow: hidden;
}

td img{
	vertical-align:center; 
	width: 30px;
	height: 30px;
  	border-radius: 30px;
 	-webkit-border-radius: 30px;
  	-moz-border-radius: 30px;
}

tr:nth-of-type(2n+1){
	height: 40px;
}

tr:nth-of-type(2n+1) td{
	text-align: right;
	vertical-align: bottom;
	width: 40px;
	height: 40px;
}

tr:nth-of-type(2n) td{
	width: 60px;
	text-align: center;
	font-size: small;
}

h2{
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #4FC912;
	font-family: 'Noto Sans Japanese', sans-serif;;
	padding-top: 20px 
}

p{
	font-family: 'Noto Sans Japanese', sans-serif;
  	font-weight: 200;
  	text-align: left;
  	margin-left: 20px;
  	margin-right: 20px;
 }

a {
	text-decoration: none;
	color: #4FC912;
}

#footer{
	margin-bottom: 110px;
	text-align: center;
}

#menu {  
    position: fixed !important; 
    position: absolute;
    z-index: 10;
    bottom: 0;  
    left: 0;  
    width: 100%;  
    height: 100px;  
    background-color: rgba(256,256,256,0.8);
    margin: 0;
    padding: 0;
    padding-top: 5px;
    border: 30px;
    border-top-color: #9cc3ff;
} 

#menu li{
	list-style: none;
	display: inline;
	font-size: 150%;
	border-left: inset;
	border-width: 2px;
	padding-left: 15px;
	padding-right: 15px;
	padding-left: 5%;
	padding-right: 5%;
	-moz-transition-duration: 0.6s;
	-webkit-transition-duration: 0.6s; 
	transition-duration: 0.6s;
}
li:link{
	color: #fff;
	text-decoration: none
}

#content{ 
    height: 100%;  
    overflow: auto;
    padding-bottom: 74px;
    text-align: left;
} 

#header {
	width: 90%;
	font-family: 'Poiret One', cursive;
	text-align: center;
	display: -moz-box;
	display: -webkit-box;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
}

#icon {
	width: 80px;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
}
#icon > img {
	text-align: left;
	padding-top: 30px;
	width: 70%;
	height: 70%;
}


#menu h1{
	width: 20%;
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;	
}

#youtube {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

#youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#feakh, #aboutkh{
	display:none;
}
#check1:checked ~ #feakh{
	display:inline-block;
}
#check2:checked ~ #aboutkh{
	display:inline-block;
}
#check1, #check2{
	display: none;
}

#main li span:before {
  content: "\A";
  white-space: pre;
  padding-left: 0;
  margin-left: 0;
}

#supporter a{
	text-align: center;
}

.Btn {
	margin:0 auto;
	text-align: center;
}

.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	font-family: 'Poiret One', cursive;
	font-size:large;

}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button {
	position: relative;
	z-index: 2;
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 50px;
}
.button:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}
.button::before,
.button::after {
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #333;
}
.button::before {
	right: 0;
}
.button::after {
	left: 0;
}
.button:hover::before,
.button:hover::after {
	width: 0;
	background-color: #59b1eb;
}