#formSelectButton{
	width: 100%;
	text-align: center;
	margin: 0 auto;

}

.formBlockF{

}

.formBlockM{

}

.resultTable{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	border-collapse: collapse;
	margin-bottom: 200px;
}

.fTdL{
	width: 30%;
}

.fTdR{
	width: 70%;
}