.modal-overlay {
    z-index:2; /*デモではheader,footerをz-index:1にしたので それより上げています*/
    display:none; /*jsでフェードインされるまでdisplay:none*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh; /*100vhでビューポートの高さいっぱいになります*/
    background-color:rgba(0,0,0,.5)} /*これは好きな色・透明度で*/

a.modal-open:hover {cursor:pointer} /*カーソルをポインタに*/

.modal-content {
    position:fixed;
    display:none; /*jsでフェードインされるまでdisplay:none*/
    z-index:3; /*オーバーレイより上に*/
    margin:10px;
    padding:15px;
    border-radius:20px;
    background:#fff;
    text-align:center;
}

.modal-content img {
    width:auto;
    max-height:35vh;
    border-radius: 100%;
}

.modal-content h1 {
    margin: 1em 0 0 0;
    font-size:120%;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 12px;
    font-weight: unset;
}

.modal-content p {
}

a.modal-close {
    position:absolute;
    top: 1em;
    right: 1em;
    color: #b29c33;
    font-size: 1.2em;
    line-height:1;
    font-weight:bold;
    text-decoration:none}

a.modal-close:hover {cursor:pointer} /*カーソルをポインタに*/