@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
	font-family: 'Noto Sans Japanese';
	font-weight: 200;
	min-width: 1395px;
	width: 100%
	height: 100%;
}

a{
	color: #1E90FF;
	text-decoration: none;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*== float解除 ==*/
.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*== MENU ==*/

#menu{
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	min-width: 1395px;
	background-color: #1E90FF;
	opacity: 0.95;
	z-index: 100;
}

#menu a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Noto Sans Japanese';
	font-weight: 100px;
}

#menu ul{
	top: 7px;
	width: 100%;
	height: 15px;
	text-align: center;
	list-style-type: none;
	position: relative;
	margin: 0 5%;
	padding: 0;
}

#menu li{
	padding: 0;
	margin: 0;
	float: left;
	width: 12.5%;
	height: 50px;
	text-align: center;

}

.homeLogo{
	width: 35px;
	height: auto;
}

/*== pタグ周り ==*/
.title{
	font-size: 30px;
	font-family: 'Noto Sans Japanese';
	line-height: 1.5em;
}

.subTitle{
	line-height: 0em;
	font-size: 24px;
	color: gray;
}

.text{
	padding-bottom: 1%;
	text-align: left;
	font-size: 18px;
	font-family: 'Noto Sans Japanese','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

#title{
	margin-top: 0;
	text-align: center;
}

/*== 共通容器 ==*/
#container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 80%;
}

#container-plus{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 100%;
}
/*== 共通要素 ==*/
.pageTitle{
	margin-top: 50px;
}

.headerLogo{
	top: 100px;
	width: 10%;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-top: 2%;
}

.headline{
	margin: 0;
	padding: 0;
	text-align: center;
}

.nonImg{
	margin-top: 10%;
}

.individual{
	margin-left: 3%;
	margin-right: 1%;
}

.title-of-top{
	margin-top: 5%;
	padding-top: 1%;
}

.formTitle{
	text-align: left;
	font-size: 20px;
}

.submit{
	margin-bottom: 1%;
	padding-bottom: 1%;
}
/*== index ==*/
#contents{
	width: 100%;
	height: auto;
}

#contents a{
	color: black;
}

.inner{
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	text-align: center;
}

.head{
	margin: 0;
	font-size: 2em;
}

.comment{
	margin: 0;
	font-size: 1em;
}

.head001{
	margin: 1% 0;
}

.comment001{
}

.head002{
	margin: 1% 0;
	margin-top: 3zzz%;
}

.comment002{
}

.head003{
	margin: 1% 0;
	margin-top: 3%;
}

.comment003{
}

.head004{
	margin: 1% 0;
	margin-top: 4%;
}

.comment004{
}

#sub{
	margin: 1% 0;
	padding: 0;
}

#sub ul{
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

#sub li{
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	list-style-type: none;
	display: inline;
}

#sub img{
	width: 270px;
	height: auto;
}
/*== about ==*/
#about{
	width: 100%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.aboutCoderDojo{
}

.aboutCoderDojoJapan{
}

.aboutCDK{
}

.imageFloatLeft{
	float: left;
	padding-right: 10px;
}
/*== join ==*/
#join{
	width: 100%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.formAttention{
	font-size: 12px;
	color: red;
	text-align: center;
}

.formTitle{

}
/*== rtd ==*/

#rtd{
	width: 100%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.aboutRTD{
	margin-top: 5%;
}

/*== mentor ==*/

#mentor{
	width: 100%;
}

.aboutMentor{
	margin: 0 auto;
	margin-top: 5%;
	width: 70%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

#segment{
	margin: 1% 0;
	text-align: center;
}

.choose{
	margin: 0 1%;
	display: inline;
}

#studentMentor-list{
	margin: 5% 10%;
	padding-left: 2%;
}

#adultMentor-list{
	margin: 5% 10%;
	padding-left: 2%;
	display: none;
}

.mentorList-L{
	width: 430px;
	float: left;
}

.mentorList-R{
	width: 430px;
	float: left;
}

.mentorListUL{
	margin: 0 5%;
	padding: 0;
	list-style: none;

}

.mentorListLI{
	margin: 10px 0;
	height: 151px;
	margin-bottom: 5%;
	border-radius: 15px;
	background-color: rgba(230,230,230,0.6);

}

.mentorImg{
	margin: 0;
	padding: 0;
	width: 150px;
	border-radius: 50%;
	float: left;

}

.mentorProfile{
	margin-top: 5%;
	margin-left: 5%;
	width: 55%;
	float: left;

}

.name{
	margin: 0;
	padding: 0;
	font-size: 22px;
	/*background-color: red;*/
}

.en{
	margin: 0;
	padding: 0;
	font-size: 14px;
	/*background-color: blue;*/
}

.skil{
	margin-right: 5px;
	padding: 1px 5px;
	font-size: 12px;
	background-color: rgba(30,144,255,0.4);
	border-radius: 5px;
	display: inline-block;
}

.Scratch{
	background-color: rgba(255,104,8,0.5);
}

.Swift{
	background-color: rgba(255, 104, 8,1);
}

.Java{
	background-color: rgba(255, 255, 0, 0.7);
}

.PHP{
	background-color: rgba(86, 133, 196, 1);
}
.Web{
	background-color: rgba(35,255,7,0.5);
}

.belonging{
	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
}

/*== event ==*/

#event{
}

.events{
	margin: 5% 0;
}

.event-list{
}

.party{
	margin: 5% 0;
}

.spd2015{
	width: auto;
	height: 300px;
	margin: 0 auto;
	display: block;
}

.jc2015{
	width: auto;
	height: 300px;
	margin: 0 auto;
	display: block;
}

.spd2014{
	height: 150px;
	margin: 85px auto;
	display: block;
}
.latest-article{
	width: 50%;
	margin-bottom: 10%;
}

.mainArticle{
	width: 50%;
	margin-bottom: 10%;
	float: left;
}

.eventText{
	margin: 0;
	padding: 0;
	text-align: center;
}

.readMore{

}
/*== footer ==*/
#footer{
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	background-color: rgba(30,144,255,0.5);
	color: white;
}

#footer a{
	color: white;
}

#footerLinks{
	margin: 0;
	padding: 0;
}

#footerLinks ul{
	list-style: none;
}

#footerLinks li{
	margin: 0.5% 0; 
	margin-left: 5%;
}

#footerLinks h1{
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-bottom: 0.5%;
}

#footer-contents{
	width: 65%;
	margin: 0 auto;
	padding: 0 2%;
}

.footerNav{
	margin: 0;
	padding: 0;
	background-color:#aaa;
}

.linksLeft{
	width: 330px;
	float: left;
	margin-left: 3%;
}

.linksRight{
	width: 210px;
	float: left;
	margin-left: 3%;
}

#mere{
	height: 100px;
	text-align: right;
}

#copyright{
	font-size: 11px;
}

#aux{
	font-size: 8px;
}

.aux-contents{
	border-right: 1px solid #fff;
	padding: 0 1%;
	margin-left: 0 1%;
}

.aux-contents:last-child{
	border: none;
}

.fb-page{
	margin: 0;
	margin-top: 1%;
	padding: 0;
	width: 300px;
	float: left;

}

/*== sponsor ==*/

#sponsor{
}

.sponsor-list{
	margin: 2% 10%;
}

.sponsorListUL{
	margin: 10px auto;
	padding: 0;
	width: 500px;
	list-style: none;
	text-align: center;
}

.sponsorListLI{
	margin: 15px 0;
	border-radius: 15px;
	background-color: rgba(140,140,140,0.4);

}

.sponsorImg{
	margin-top: 1%;
	width: 200px;
}

.sponsorProfile{
	margin: 0;
}

.name{
	margin: 0;
	font-size: 22px;
}

.type{
	margin: 0;
	padding: 0 1%;
	font-size: 12px;
	background-color: rgba(30,144,255,0.4);
	border-radius: 5px;
	display: inline-block;
}

/*== contact ==*/
#contact{
	text-align: center;

}

.contactContents{
	margin: 5% 10%;
}

.snsContents{
	margin: 5% 0;
}

.snsLogo{
	margin: 0 3%;
	width: 14%;
}

.snsImgAdj{
	margin-bottom: 2%;
	width: 10%;
}

.otherContents{
	margin: 5% 0;
}

.generalImgAdj{
	width: 12%;
	border-radius: 50%;
}

.info{
	margin: 1% 0;
}

.mail{
	font-size: 17px;
	color: #444;
	border-bottom: 1px dotted #444;
}

.mailAttention{
	font-size: 10px;
	color: red;
}
/*== table ==*/

table{
	width: 80%;
	text-align: center;
}

.tdL{
	width: 30%;
}

.tdR{
	width: 30%;
}