

body{
	font-family: "Noto Sans Japanese";
	font-weight: 200;
	margin: 0 auto;
	width: 100%;
	min-width: 1024px;
	background-color: #1E90FF;


}

a{
	color: #1E90FF;
	text-decoration: none;
}

.black{
	color: #000;
}

/*== MENU ==*/

#menu{
	top: 0;
	margin: 0 auto;
	font-weight: 150;
	width: 100%;
	height: 50px;
	min-width: 960px;
	max-width: 1350px;
	background-color: #1E90FF;
	z-index: 999;
}

#menu ul{
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
}


#menu li{
	margin-top: 0.75%;
	flex: auto; 
	text-align: center;
}

#menu a{
	font-size: 20px;
	font-weight: 100px;
	color: white;
}

.homeLogo{
	width: 35px;
	height: auto;
}

/*== pタグ周り ==*/
.title{
	font-size: 30px;
	font-weight: 300;
	line-height: 1.5em;
}

.subTitle{
	line-height: 0em;
	font-size: 24px;
	color: gray;
}

.text{
	padding-bottom: 1%;
	text-align: left;
	font-size: 18px;
}

.center{
	padding-bottom: 1%;
	text-align: center;
	font-size: 18px;
}

#title{
	margin-top: 0;
	text-align: center;
}

/*== 共通容器 ==*/
#container{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: white;
}

/*== 共通要素 ==*/
.pageTitle{
	padding-top: 50px;
	padding-bottom: 30px;
}

.pageTitle_nonTxt{
	padding-top: 2%;
}

.headerLogo{
	top: 10px;
	width: 10%;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-top: 2%;
}

.headline{
	margin: 0;
	padding: 0;
	text-align: center;
}

.nonImg{
	padding-top: 15%;
}

.individual{
	margin-left: 3%;
	margin-right: 1%;
}

.title-of-top{
	margin-top: 5%;
	padding-top: 1%;
}

.formTitle{
	text-align: left;
	font-size: 20px;
}

.space{
	margin-bottom: 1%;
	padding-bottom: 1%;
}

/*== index ==*/
#contents{
	width: 100%;

}

#contents a{
	color: black;
}

.slidesiframe{
	width: 100%;

}

.slideInner{
	width: 50%;
	margin: auto;
	top: 30px;
	left: 0;
	right: 0;
	position: absolute;
}

.slideInnerLow{
	width: 50%;
	margin: auto;
	padding-top: 28%; 
	top: 30px;
	left: 0;
	right: 0;
	position: absolute;
}

.slideInnerPlus{
	width: 20%;
	margin: auto;
	left: 0;
	right: 0;
	top: 85%;
	position: absolute;
}

#sub{
	margin: 0 auto;
	margin-bottom: 1%;
	width: 100%;
}

.subContents{
	display: flex;
}

.inner{
	margin: 0 2%;
	padding: 0;
	width: 30%;
	border: 2px solid #999;
	border-radius: 15px;
	text-align: center;
}

.inner div{
	height: 275px;
	position: relative;
}

.inner p{
	margin: 0;
	margin-top: 5%;
	font-size: 1.4em;
}

#sub img{
	margin: auto;
	left: 0;
	right: 0;
	height: 65%;
	bottom: 5%;
	position: absolute;
}

/*== about ==*/
#about{
	margin: 0 auto;
	width: 80%;
	border-radius: 10px;
	background-color: #EEEEEE;
}

.aboutCoderDojo{
}

.aboutCoderDojoJapan{
}

.aboutCDK{
}

.imageFloatLeft{
	float: left;
	padding-right: 10px;
}

.aboutOnlinedojo{

}

/*== join ==*/
#join{
	margin: 0 auto;
	width: 80%;
	border-radius: 20px;
	background-color: #EEEEEE;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

#join input {
	font-size: 1.3em;
	text-align: center;
}

.formAttention{
	font-size: 12px;
	color: red;
	text-align: center;
}

.formTitle{
	text-align: center;
}

.textBox{
	width: 40%;
	height: 40px;
	font-size: 20px;
	text-align: center;
	color: gray;
}

.errorMsg{
	font-size: 10px;
	color: red;
	font-size: 1.2em;
	text-align: center;
}

table.nextDojoTable {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}
 
table.nextDojoTable th,
table.nextDojoTable td {
    padding: 10px;
}
 
table.nextDojoTable th {
    background: RGB(30, 144, 255);
    vertical-align: middle;
    text-align: left;
    width: 100px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}
 
table.nextDojoTable th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: RGB(30, 144, 255);
    border-width: 10px;
    margin-top: -10px;
}


/* firefox */
@-moz-document url-prefix() {
    table.nextDojoTable th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: RGB(30, 144, 255) 10px solid;
        margin-top: -10px;
    }
}
 
.plainTd {
    background: #E0E0E2;
    width: 360px;
    padding-left: 20px;
    font-size: 16px;
    text-align: left;
}

.biggerTd{
	background: #E0E0E2;
    width: 360px;
    padding-left: 20px;
	font-size: 24px;
	text-align: center;
}

.red{
	font-size: 18px;
	text-align: center;
	color: red;
}


/*== rtd ==*/

#rtd{
	margin: 0 auto;
	width: 80%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.aboutRTD{
	margin-top: 5%;
}

.rtdmovie{
	margin: 5% 0 10% 0;
	width: 100%;
	text-align: center;
}

.trdmovie iframe{
	width: 100%;

}

.rtdmovie p{
	text-align: center;
}

.movielist{
	display: flex;
	flex-wrap: wrap;
}

.movielist article{
	margin: 2% 0;
	padding: 0 2.5%;
	width: 45%;
}

.movielist iframe{
	width: 100%;

}

.movielist section{
}

.youtubelink{
	padding-bottom: 1%;
	text-align: center;
}

.youtubelink:hover{
	text-decoration: underline;
}

.movieTitle{
	font-size: 1.5em;
	font-weight: normal;
}
/*== mentor ==*/

#mentor{
	margin: 0 auto;
	width: 80%;
}

.aboutMentor{
	margin: 0 auto;
	margin-top: 5%;
	width: 75%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

#segment{
	margin: 1% 0;
	text-align: center;
}

.choose{
	margin: 0 1%;
	display: inline;
}

#mentorList{
	width: 80%;
	margin: 0 auto;
}

#studentMentor-list{

}

#adultMentor-list{
	display: none;
}

.mentorListUL{
	margin: 0 5%;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.mentorListLI{
	margin: 10px;
	width: 350px;
	margin-bottom: 5%;
	border-radius: 15px;
	background-color: rgba(230,230,230,0.6);
	text-align: center;

}

.mentorImg{
	margin: 1% 0;
	padding: 0;
	width: 150px;
	border-radius: 50%;

}

.mentorProfile{
	margin: 1% 0;
}

.name{
	margin: 0;
	padding: 0;
	font-size: 22px;
	/*background-color: red;*/
}

.en{
	margin: 0;
	padding: 0;
	font-size: 14px;
	/*background-color: blue;*/
}

.skil{
	margin-right: 5px;
	padding: 1px 5px;
	font-size: 12px;
	background-color: rgba(30,144,255,0.4);
	border-radius: 5px;
	display: inline-block;
}

.Scratch{
	background-color: rgba(255,104,8,0.5);
}

.Swift{
	background-color: rgba(255, 104, 8,1);
}

.Java{
	background-color: rgba(255, 255, 0, 0.7);
}

.PHP{
	background-color: rgba(86, 133, 196, 1);
}
.Web{
	background-color: rgba(35,255,7,0.5);
}

.belonging{
	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
}


/*== adopt ==*/
#adopt{
	margin: 0 auto;
	width: 80%;
	border-radius: 20px;
	background-color: #EEEEEE;

}

.mentorRequirement{
	width: 100%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.mentorContine{
	background-color: white;
	text-align: center;
}

.btn{
	margin: 5% 0;
	width: 200px;
	font-size: 18px;
	background-color: rgb(30,144,255);
	border-radius: 5px;
	border-style: none;
}

.btn:hover{
	background-color: rgba(30,144,255,0.8);
}
/*== event ==*/

#event{
	margin: 0 auto;
	width: 80%;
}

.events{
	margin: 5% 0;
}

.events h2{
	font-size: 1.5em;
}

.events h3{
	font-size: 1em;
}

.events h4{
	font-size: 1em;
}

.events h5{
	font-size: 0.8em;
}



.latest-eventText{
	margin: 0 10%;
	width: 80%;
}

.eventText{
	width: 100%;
}

.latest-event{
	margin: 5% 0;
	text-align: center;

}

.latest-event article{
	margin: 0 auto;
	width: 80%;
}

.event-list{
	margin: 5% 0;
	width: 100%;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
}

.event-list article{
	margin: 1.5% auto;
	padding: 1.0%;
	width: 45%;
	border: 3px solid #EEEEEE;
	border-radius: 15px;
	text-align: center;
}

.sdk2017{
	margin: 0 auto;
	width: 80%;
}

.spd2016{
	height: 250px;
}

.sdk2016{
	margin: 80px 0;
	height: 90px;
}

.spd2015{
	height: 250px; 
}

.jc2015{
	
	height: 250px; 

}

.spd2014{
	margin: 70px 0;
	height: 110px; 
	
}

/*== footer ==*/
#footer{
	width: 100%;
	margin: 0 auto;
	max-width: 1350px;
	background-color: #1E90FF;
	color: white;
}

#footer a{
	color: white;
}

#footer-contents{
	width: 100%;
}

#footerLinks{
	margin-left: 12%;
	padding: 1%;
	display: flex;
}

#footerLinks h1{
	margin: 0;
	font-size: 1.5em;
}

.fb-page{
	margin: 0;
	margin-right: 5%;
	padding: 0;
	width: 300px;
	height: 400px;
}


.footerNav{
	width: 70%;
	display: flex;
}

.footerNav ul{
	list-style: none;

}

.footerNav li{
	margin-left: 10%;
}

.linksLeft{
	width: 50%;
	padding-right: 5%;
}

.linksLeft div{
	margin: 5% 0;
}

.linksLeft div:first-child{
	margin: 0;
	margin-bottom: 5%;
}

.linksRight{
	width: 50%;
}

.linksRight div{
	margin: 5% 0;
}

.linksRight div:first-child{
	margin: 0;
	margin-bottom: 5%;
}

#mere{
	margin-top: 1%;
	margin-right: 1%;
	height: 110px;
	text-align: right;
}

#copyright{
	font-size: 12px;

}

#aux{
	font-size: 12px;

}

.aux-contents{
	border-right: 1px solid #fff;
	padding: 0 1%;
	margin-left: 0 1%;
}

.aux-contents:last-child{
	border: none;
}
/*== sponsor ==*/

#sponsor{
	margin: 0 auto;
	width: 80%;

}

.sponsor-list{
	margin: 2% 10%;
}

.sponsorListUL{
	margin: 10px auto;
	padding: 0;
	width: 500px;
	list-style: none;
	text-align: center;
}

.sponsorListLI{
	margin: 15px 0;
	border-radius: 15px;
	background-color: rgba(140,140,140,0.4);

}

.sponsorImg{
	margin-top: 1%;
	width: 200px;
}

.sponsorProfile{
	margin: 0;
}

.name{
	margin: 0;
	font-size: 22px;
}

.type{
	margin: 0;
	padding: 1px 5px;
	font-size: 12px;
	background-color: rgba(30,144,255,0.4);
	border-radius: 5px;
	display: inline-block;
}

/*== contact ==*/
#contact{
	width: 100%;
	text-align: center;

}

.contactContents{
	margin: 5% 10%;
}

.mailContent{
	margin: 5% 0;
}

.generalImgAdj{
	width: 12%;
	border-radius: 50%;
}

.info{
	margin: 1% 0;
}

.mail{
	font-size: 17px;
	color: #444;
	border-bottom: 1px dotted #444;
}

.mailAttention{
	font-size: 10px;
	color: red;
}

/*== sns 
#sns{
	width: 100%;
	text-align: center;
}

.snsContents{
	margin: 5% 0;
}

.snsLogo{
	margin: 0 3%;
	width: 14%;
}

.snsImgAdj{
	margin-bottom: 2%;
	width: 10%;
}
==*/

/*== founder ==*/
#founder{
	margin: 0 auto;
	width: 80%;
}

#mjk{
	margin: 5% 0; 
}

.mjkPro{
	margin: 1% 20%;
}

.position{
	margin: 0;
	padding: 0;
}

.founderImage{
	text-align: center;
}

.founderImage img{
	width: 25%;
	border-radius: 50%;
}

.nameLabel{
	margin-left: 10%;
}

.founderName{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.founderProfile{
	margin: 2% auto;
	margin-bottom: 2%;
	width: 95%;
}


.latest-newsArticle{
	padding: 2% 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.newsArticle{
	padding: 2% 0;
	border-bottom: 1px solid #999;
}

.newsHead{
	font-size: 20px;
	font-weight: normal;
}

.summary{
	margin-left: 1%;	
}

.news-Text{
	margin: 0 3%;
}

/*== table ==*/

table{
	width: 80%;
	text-align: center;
}

.tdL{
	width: 30%;
}

.tdR{
	width: 30%;
}

/* media */

#media{
	width: 70%;
	margin: 5% auto;
}



.mContents{
	background-color: #EEEEEE;
	border-radius: 20px;
}

/*== pressRelease ==*/

#pressRelease{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.pContents{
	background-color: #EEEEEE;
	border-radius: 20px;
}



.pTitle{
	font-size: 20px;
}

.pText{
	margin: 20px;
}

#fullUp{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	background-color: #EEEEEE;
	font-size: 18px;
}

/*== Kashiwa-no-ha ==*/
#kashiwanoha{
	width: 100%;
	background-color: #EEEEEE;
	border-radius: 20px;	
}
.aboutCDKH{

}

.aboutCDKH section{
	margin-left: -1%;
	margin-right: 1%;
	padding: 0;
	text-align: center;
}

.aboutCDKH iframe{
	width: 100%;
}

.kashiwanohaHeader{
	width: 20%;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.formBig{
	font-size: 30px;
	text-align: center;
}

/* kashiwaDojo */

#studentMentor{
	background-image: url(../image/slides/s2.jpg);
	background-size: 100%;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
}

#localDojo{
	background-image: url(../image/backgroundImage/bg2.jpg);
	background-size: 100%;
	padding: 0;
	margin: 0;
}

.kDContentsBackground{
	width: 100%;
	height: 110vh;
	opacity: 0.5;
	background-color: white;
}

.kDContents{
	width: 80%;
	height: 100vh;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;

}
/* dojo */
#dojo{
	margin: 0 auto;
	width: 80%;
}

#dojo-map{
	margin-top: 3%;
	width: 100%;
	height: 550px;
	background-color: gray;
}

.Kdojo-list{
	margin: 5% 0;
	width: 100%;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
}

.Kdojo-list article{
	margin: 1.5% auto;
	padding: 0.5% 0;
	width: 21%;
	border: 3px solid #EEEEEE;
	border-radius: 15px;
	text-align: center;
}

.Kdojo-list article:hover{
	background-color: rgba(30,144,255,0.4);
}

.Ndojo-list{
	margin: 5% 0;
	text-align: center;

}

.Ndojo-list article{
	margin: 1.5% auto;
	padding: 0.5% 0;
	width: 22.5%;
	border: 3px solid #EEEEEE;
	border-radius: 15px;
	text-align: center;
}

.Ndojo-list article:hover{
	background-color: rgba(30,144,255,0.4);
}

.kashiwadojo{
	height: 150px;
}

.kashiwanohadojo{
	height: 150px;
}

.nankashidojo{
 	height: 150px;
}

.shounandojo{
	height: 150px;
}

.nagareyamadojo{
	height: 150px;
}


.notification{
	color: red;
	font-size: 20px;
}

/*== mission ==*/
#missionImageArea{
	top: 20px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;

}

.titleUp {
	position: absolute;
  	top: 20%;
  	text-align: center;
  	margin:0;
  	padding:0;
	width: 100%;
	color: white;
	font-size: 60px;
	font-weight: bold;
}

.titleMiddle{
	position: absolute;
  	top: 50%;
  	text-align: center;
  	margin:0;
  	padding:0;
	width: 100%;
	color: white;
	font-size: 30px;
	font-weight: 200;	
}

#mission{
	width: 100%;
}

.missionImage{
	width: 100%;
}

#missionMenu{
	width: 100%;
	margin-top: 30px;
}

#missionMenu ul{
	width: 100%;
	margin: 8px 0;
	padding: 0;
	font-size: 0;
	text-align: center;
}

#missionMenu li{
	display: inline-block;
  	font-size: 18px;
	width: 20%;
}

#missionMenu a{
	color: black;
	text-decoration: none;
}

#coderdojo{
	width: 100%;
}

.missionTitle{
	font-size: 40px;
	text-align: center;
	font-weight: 500;
}

.leftContents{
	width: 30%;
	float: left;
}

.rightContents{
	width: 60%;
	margin-left: 30%;
}

.left70Contents{

	width: 60%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}

.right30Contents{
	width: 60%;
	margin-left: 30%;
}

.missionLogo{
	width: 50%;
	margin-left: 15%;
	margin-right: 25%;
}

.missionLogoSpd{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.missionText{
	font-size: 18px;
}

.missionVideoArea{
	margin-top: 120px;
}

.missionVideo{
	margin-left: 5%;
	margin-right: 5%;
}

.missionSubTitle{
	font-weight: bold;
	font-size: 20px;
}

#history{
	margin-top: 120px;
}

#project{
	margin-top: 150px;
}

.scratchday{
	margin-top:50px;
}

.kashiwacity{
	margin-top: 50px;
}

.missionTable{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.missionTdL{
	width: 30%;
}

.missionTdR{
	width: 70%;
	text-align: left
}

/*== mentor ==*/

#mentor{
	width: 80%;
	margin-top: 35px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: RGB(238, 238, 238);
	border-radius: 15px;
	
}

#mentorImageArea{
	top: 20px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
}

#aboutMentor{
	width: 90%;
	top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

.mentorTitle{
	font-size: 24px;
	font-weight: bold;
}

.mentorText{
	font-size: 18px;
}

#media{
	width: 100%;
}

.mediaLogo{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}