@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
	font-family: 'Noto Sans Japanese';
	font-weight: 200;
	min-width: 1395px;
	width: 100%
	height: 100%;
}

a{
	color: #1E90FF;
	text-decoration: none;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*== float解除 ==*/
.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*== MENU ==*/

#menu{
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	min-width: 1395px;
	background-color: #1E90FF;
	opacity: 0.95;
	z-index: 100;
}

#menu a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Noto Sans Japanese';
	font-weight: 100px;
}

#menu ul{
	top: 7px;
	width: 100%;
	height: 15px;
	text-align: center;
	list-style-type: none;
	position: relative;
	margin: 0 5%;
	padding: 0;
}

#menu li{
	padding: 0;
	margin: 0;
	float: left;
	width: 12.5%;
	height: 50px;
	text-align: center;

}

.homeLogo{
	width: 35px;
	height: auto;
}

/*== pタグ周り ==*/
.title{
	font-size: 30px;
	font-family: 'Noto Sans Japanese';
	line-height: 1.5em;
}

.subTitle{
	line-height: 0em;
	font-size: 24px;
	color: gray;
}

.text{
	padding-bottom: 1%;
	text-align: left;
	font-size: 18px;
	font-family: 'Noto Sans Japanese','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

.center{
	padding-bottom: 1%;
	text-align: center;
	font-size: 18px;
	font-family: 'Noto Sans Japanese','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

#title{
	margin-top: 0;
	text-align: center;
}

/*== 共通容器 ==*/
#container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 80%;
	max-width: 1395px;
}

#container-plus{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 100%;
}
/*== 共通要素 ==*/
.pageTitle{
	margin-top: 50px;
}

.headerLogo{
	top: 100px;
	width: 10%;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-top: 2%;
}

.headline{
	margin: 0;
	padding: 0;
	text-align: center;
}

.nonImg{
	margin-top: 10%;
}

.individual{
	margin-left: 3%;
	margin-right: 1%;
}

.title-of-top{
	margin-top: 5%;
	padding-top: 1%;
}

.formTitle{
	text-align: left;
	font-size: 20px;
}

.space{
	margin-bottom: 1%;
	padding-bottom: 1%;
}

/*== index ==*/
#contents{
	width: 100%;
}

#contents a{
	color: black;
}

.inner{
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	text-align: center;
}

.head{
	margin: 5% auto 0 auto;
	font-size: 2.5em;
	font-weight: 200;
	background-color: rgba(220,220,220,0.7);
}

.comment{
	font-size: 1.5em;
	font-weight: 200;
	background-color: rgba(220,220,220,0.7);
}

.head001{
	width: 35%;
}

.comment001{
	margin: 0 auto;
	width: 60%;
}

.head002{
	width: 65%;
}

.comment002{
}

.head003{
}

.comment003{
}

.head004{
}

.comment004{
}

#sub{
	margin: 1% auto;
	width: 100%;
}

.subContents{
	display: flex;
	justify-content: center;
}

.subContents div{
	padding: 1%;
	
}

#sub img{
	width: 100%;
}

/*== about ==*/
#about{
	width: 100%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.aboutCoderDojo{
}

.aboutCoderDojoJapan{
}

.aboutCDK{
}

.imageFloatLeft{
	float: left;
	padding-right: 10px;
}

.aboutOnlinedojo{

}

/*== join ==*/
#join{

	margin: 0 auto;
	width: 80%;
	border-radius: 20px;
	background-color: #EEEEEE;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

#join input {
	font-size: 1.3em;
	text-align: center;
}

.formAttention{
	font-size: 12px;
	color: red;
	text-align: center;
}

.formTitle{
	text-align: center;
}

.textBox{
	width: 40%;
	height: 40px;
	font-size: 20px;
	text-align: center;
	color: gray;
}

.errorMsg{
	font-size: 10px;
	color: red;
	font-size: 1.2em;
	text-align: center;
}

/*== rtd ==*/

#rtd{
	width: 100%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.aboutRTD{
	margin-top: 5%;
}

/*== mentor ==*/

#mentor{
	width: 100%;
}

.aboutMentor{
	margin: 0 auto;
	margin-top: 5%;
	width: 75%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

#segment{
	margin: 1% 0;
	text-align: center;
}

.choose{
	margin: 0 1%;
	display: inline;
}

#mentorList{
	width: 100%;
	margin: 0 auto;
}

#studentMentor-list{

}

#adultMentor-list{
	display: none;
}

.mentorListUL{
	margin: 0 5%;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.mentorListLI{
	margin: 10px;
	width: 350px;
	margin-bottom: 5%;
	border-radius: 15px;
	background-color: rgba(230,230,230,0.6);
	text-align: center;

}

.mentorImg{
	margin: 1% 0;
	padding: 0;
	width: 150px;
	border-radius: 50%;

}

.mentorProfile{
	margin: 1% 0;
}

.name{
	margin: 0;
	padding: 0;
	font-size: 22px;
	/*background-color: red;*/
}

.en{
	margin: 0;
	padding: 0;
	font-size: 14px;
	/*background-color: blue;*/
}

.skil{
	margin-right: 5px;
	padding: 1px 5px;
	font-size: 12px;
	background-color: rgba(30,144,255,0.4);
	border-radius: 5px;
	display: inline-block;
}

.Scratch{
	background-color: rgba(255,104,8,0.5);
}

.Swift{
	background-color: rgba(255, 104, 8,1);
}

.Java{
	background-color: rgba(255, 255, 0, 0.7);
}

.PHP{
	background-color: rgba(86, 133, 196, 1);
}
.Web{
	background-color: rgba(35,255,7,0.5);
}

.belonging{
	margin: 0;
	padding: 0;
	/*background-color: yellow;*/
}


/*== adopt ==*/
#adopt{

}

.mentorRequirement{
	width: 100%;
	border-radius: 20px;
	background-color: #EEEEEE;
}

.mentorContine{
	background-color: white;
	text-align: center;
}

/*== adoptForm ==*/
#adoptForm{
	margin: 0 auto;
	width: 75%;
	border-radius: 20px;
	background-color: #EEEEEE;
}
/*== event ==*/

#event{
}

.events{
	margin: 5% 0;
}

.event-list{
}

.party{

	margin: 5% 0;
}

.sdk2016{
	width: auto;
	height: 150px;
	margin: 0 auto;
	display: block;
}

.spd2015{
	width: auto;
	height: 300px;
	margin: 0 auto;
	display: block;
}

.jc2015{
	width: auto;
	height: 300px;
	margin: 0 auto;
	display: block;
}

.spd2014{
	height: 150px;
	margin: 85px auto;
	display: block;
}
.latest-article{
	width: 50%;
	margin-bottom: 10%;
}

.mainArticle{
	width: 50%;
	margin-bottom: 10%;
	float: left;
}

.eventText{
	margin: 0 auto;
	padding: 0 0 1% 0;
	width: 80%;
	background-color: #EEEEEE;
	border-radius: 20px;
	text-align: center;
}

.lastest{
	width: 50%;
}


.readMore{

}
/*== footer ==*/
#footer{
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 1395px;
	position: absolute;
	background-color: rgba(30,144,255,0.5);
	color: white;
}

#footer a{
	color: white;
}

#footerLinks{
	margin: 0;
	padding: 0;
}

#footerLinks ul{
	list-style: none;
}

#footerLinks li{
	margin: 0.5% 0; 
	margin-left: 5%;
}

#footerLinks h1{
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-bottom: 0.5%;
}

#footer-contents{
	width: 80%;
	margin: 0 auto;
}

.footerNav{
	margin: 0;
	padding: 0;
	background-color:#aaa;
}

.linksLeft{
	width: 340px;
	float: left;
}

.linksRight{
	width: 330px;
	float: left;
	margin-left: 3%;
}

#mere{
	height: 100px;
	text-align: right;
}

#copyright{
	font-size: 11px;
}

#aux{
	font-size: 8px;
}

.aux-contents{
	border-right: 1px solid #fff;
	padding: 0 1%;
	margin-left: 0 1%;
}

.aux-contents:last-child{
	border: none;
}

.fb-page{
	margin: 0 5%;
	margin-top: 1%;
	padding: 0;
	width: 300px;
	float: left;

}

/*== sponsor ==*/

#sponsor{
}

.sponsor-list{
	margin: 2% 10%;
}

.sponsorListUL{
	margin: 10px auto;
	padding: 0;
	width: 500px;
	list-style: none;
	text-align: center;
}

.sponsorListLI{
	margin: 15px 0;
	border-radius: 15px;
	background-color: rgba(140,140,140,0.4);

}

.sponsorImg{
	margin-top: 1%;
	width: 200px;
}

.sponsorProfile{
	margin: 0;
}

.name{
	margin: 0;
	font-size: 22px;
}

.type{
	margin: 0;
	padding: 0 1%;
	font-size: 12px;
	background-color: rgba(30,144,255,0.4);
	border-radius: 5px;
	display: inline-block;
}

/*== contact ==*/
#contact{
	width: 100%;
	text-align: center;

}

.contactContents{
	margin: 5% 10%;
}

.mailContent{
	margin: 5% 0;
}

.generalImgAdj{
	width: 12%;
	border-radius: 50%;
}

.info{
	margin: 1% 0;
}

.mail{
	font-size: 17px;
	color: #444;
	border-bottom: 1px dotted #444;
}

.mailAttention{
	font-size: 10px;
	color: red;
}

/*== sns ==*/
#sns{
	width: 100%;
	text-align: center;
}

.snsContents{
	margin: 5% 0;
}

.snsLogo{
	margin: 0 3%;
	width: 14%;
}

.snsImgAdj{
	margin-bottom: 2%;
	width: 10%;
}

/*== founder ==*/
#founder{
	margin: 0 auto;
	width: 80%;
}

#mjk{
	margin: 5% 0; 
}

.mjkPro{
	margin: 1% 0;
}

.position{
	margin: 0;
	padding: 0;
}

.founderImage{
	text-align: center;
}

.founderImage img{
	width: 25%;
	border-radius: 50%;
}

.founderName{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
}

.founderProfile{
	margin: 2% auto;
	margin-bottom: 2%;
	width: 95%;
}

.news{
	margin: 5% auto;
	width: 80%;

}

.newsArticle{
	padding: 2% 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.last-newsArticle{
	padding: 2% 0;
	border-bottom: 1px solid #999;
}

.newsHead{
	font-size: 20px;
}
/*== table ==*/

table{
	width: 80%;
	text-align: center;
}

.tdL{
	width: 30%;
}

.tdR{
	width: 30%;
}

/* media */

#media{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.mTitle{
	font-size: 20px;
	font-weight: normal;
}

.mContents{
	background-color: #EEEEEE;
	border-radius: 20px;
}

.mText{
	margin: 20px;
	margin-bottom: 40px;
}

/*== pressRelease ==*/

#pressRelease{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.pContents{
	background-color: #EEEEEE;
	border-radius: 20px;
}



.pTitle{
	font-size: 20px;
}

.pText{
	margin: 20px;
}

#fullUp{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	background-color: #EEEEEE;
	font-size: 18px;
}

.kashiwanoha{
	width: 100%;
	background-color: #EEEEEE;
	border-radius: 20px;	

}

.iframeCenter{
	text-align: center;
	margin: 0 auto;
}
