@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
	width: 100%;
	font-family: 'Noto Sans Japanese';
	font-weight: 200;
}

#schedule iframe{
	display: block;
	margin: 0 auto;
	margin-bottom: 1%;
}