/*

 body{
 	background-color: black;
 }

 #header{
 	width: 100%;
 	height: 500px;
 	background-image: url("../image/logo.png");
 	background-repeat: no-repeat;
 	background-position: center center;
 	background-size: contain;

 	-moz-background-repeat: no-repeat;
 	-moz-background-position: center center;
 	-moz-background-size: contain;

 	-webkit-background-repeat: no-repeat;
 	-webkit-background-position: center center;
 	-webkit-background-size: contain;

 }

 .headerTitle{
 	text-align: center;
 	font-size: 32px;
 	color: white;
 	position: absolute;
 	width: 0 auto;
 	display: block;
 	bottom: 20%;
 	z-index: 100;
}

#main{
	
}

*/

body{
	background-color: white;
	color: black;
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
}
a{
	color: RGB(255, 39, 201);
	text-decoration: none;
}

ul{
	text-align:  left;
}

li{
	text-align: left;
}

canvas{
	position: fixed;
}

.movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}


#container{
	position: absolute;
	width: 70%;
	margin: 0 15%;
	background-color: white;
	z-index: 100;
}

#header{
	margin-top: 5%;

}

.headerImage{
	width: 100%;

}

.headerTitle{
	text-align: center;
	font-size: 48px;
  	font-weight: 100;
}

.dateText{
	font-size: 24px;
}

.title{
	font-size: 36px;
	text-align: left;
}

.text{
	font-size: 20px;
	text-align: left;
}

#main{
	width: 80%;
	margin: 0 10%;
	text-align: center;
}

.joinButton{
	width: 80px;
	height: 80px;
	display: table-cell;
	background-color: white;
	border-style: solid;
	border-color: pink;
	border-radius: 40px;
	border-width: 1px;
	vertical-align: middle;
	text-align: center;
}

.joinButton:hover{
	background-color: pink;
	color: white;
	text-decoration: none;
}

.buttonDiv{
	padding-top: 50px;
	width: 10%;
	margin: 0 auto;
}

#footer{
	padding-top: 200px;
}

.footerText{
	color: gray;
}
