#dojoDetail{
    margin: 0 auto;
    padding: 1%;
	width: 80%;
    background-color: RGB(244, 244, 244);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
<<<<<<< HEAD
    flex-wrap: wrap;
=======
	flex-wrap: wrap;
>>>>>>> d1f172742d0cd1f12b657783cafc1f481ae7c570
}

#dojoDetailDescriptionTextArea{
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.dojoDetailLogo{
    width: 30%;
    margin-top: 10px;
    display: block;
    text-align: center; 
    margin-left: 35%;
    margin-right: auto;
}

#dojoDetailImageArea{
    margin: auto;
    width: 60%;
}

.dojoDetailImage{
    width: 100%;
}

.dojoDetailUl{
    line-height: 1.7em;
}

.dojoDetailSkill{
    text-decoration: none;
    list-style-type: none;
    
}

.dojoDetailSkillScratch{
    margin: 1px;
    width: 100px;
    height: 25px;
    background-color: RGB(239, 159, 40);
    text-align: center;
    background-color: RGB(239, 159, 40);
    border-radius: 8px;
    display: inline-block;

}

.dojoDetailSkillWeb{
    margin: 1px;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: RGB(53, 152, 219);
    border-radius: 8px;
    display: inline-block;
}

.dojoDetailSkillDesign{
    margin: 1px;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: RGB(154, 89, 181);
    border-radius: 8px;
    display: inline-block;
}

.dojoDetailSkillRaspi{
    margin: 1px;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: RGB(199, 5, 61);
    border-radius: 8px;
    display: inline-block;
}

.joinButton{
    width:50%;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    background-color: white;
    transition: .4s;
    text-align: center;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.joinButton:hover{
     background: #67c5ff;
    color: white;
}