body{
    
}

#kashiwaprogram{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.kpTitle{
	font-weight:400;
}

.kpSubTitle{
	font-size: 24px;
	font-weight: bold;
}

.kpHeaderImaegView {
    margin-top: 40px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.kpHeaderTitleLabel{
    font-weight: 600;
    text-align: center;
    font-size: 38px;
}

.kpHeaderTextLabel{
    font-size: 18px;
}

#kpMenu{
	width: 100%;
	margin-top: 30px;
}

#kpMenu ul{
	width: 100%;
	margin: 8px 0;
	padding: 0;
	font-size: 0;
	text-align: center;
}

#kpMenu li{
	display: inline-block;
  	font-size: 18px;
	width: 20%;
}

#kpMenu a{
	color: black;
	text-decoration: none;
}

#main{
    margin: 0 auto;
	width: 100%;
	border-radius: 10px;
	background-color: #EEEEEE;
}

#kpMain{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.kpNewsTitle{
	line-height: 0.5em;
	font-size: 20px;
}

.kpNewsDate{
	font-size: 15px;
	color: gray;
}