@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


html,body{
	background-color: RGB(247, 175, 39);
	font-family: 'Noto Sans Japanese', serif;
	font-weight: 300;

}

a{
	color: white;
	text-decoration: none;
}

nav{
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: white;
}

.center{
	text-align: center;
	color: white;
	font-size: 15px;
}

.headerImg{
	width: 80%;
	display: block;
	margin: 0 auto;
}

.title{
	margin: 0;
	font-size: 36px;
	text-align: center;
	color: white;
}

.Msubtitle{
	margin: 0;
	text-align: center;
	font-size: 25px;
	color: white;
}

.MsponsorTitle{
	margin: 0;
	margin-bottom: 1%;
	text-align: center;
	font-size: 20px;
	color: white;
}

.Msponsor{
	margin: 0;
	text-align: center;
	font-size: 15px;
	color: white;
}

.subtitle{
	margin: 0;
	margin-top:2%;
	font-size: 25px;
	color: white;
}

.text{
	margin-left: 3%;
	font-size: 20px;
	color: white;
}

.date{
	text-align: center;
	font-size: 26px;
	color: white;
}

#menu{
	margin: 0 5%;
	background-color: #66cc33;
	z-index: 999;
	border-radius: 20px;
}

#menu ul{
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}


#menu li{
	padding: 1%;
	width: 155px;
	text-align: center;
}

#menu a{
	font-size: 22px;
	font-weight: 100px;
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 1190px){
	#menu ul{
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

	}


	#menu li{
		padding: 1%;
		width: 245px;
		text-align: center;
	}

	#menu a{
		font-size: 22px;
		font-weight: 100px;
		color: white;
		text-decoration: none;
	}

}

#contents{
	margin: 0 15%;
	height: auto;

}

#childws{

}

#hackathon{

}

#activity{

}

#st{

}

#adultws{

}

#tt{

}


.eventContents{
	margin: 10% 0;
	background-color: rgba(200,100,0,0.5);
	border-radius: 20px;
}

.programs{
display: flex;
flex-wrap: wrap;
padding: 3%;
}

.event{
	margin: 5% auto;
	padding: 2%;
	width: 325px;
	background-color: RGB(247, 175, 39);
	border-radius: 20px;
}

.event-title{
	margin: 0;
	margin-top:2%;
	font-size: 25px;
	color: white;
}

.event-text{
	margin-left: 2%;
	font-size: 16px;
	color: white;
}

@media screen and (max-width: 1190px){
	.event{
	margin: 5% auto;
	padding: 2%;
	width: 400px;
	background-color: RGB(247, 175, 39);
	border-radius: 20px;
	}

	.event-title{
	margin: 0;
	margin-top:2%;
	font-size: 27px;
	color: white;
}

	.event-text{
	margin-left: 2%;
	font-size: 18px;
	color: white;
	}
}

.event-link{
	text-align: center;
}

.details{
	padding: 2% 1%;
}

.contentsImg{
	padding: 1% 0;
	width: 70%;
	display: block;
	margin: 0 auto;
}

#links{
	text-align: center;
}
 
.listNone{
 	list-style: none;
}

.mapContents{
	margin: 10% 0;
	background-color: rgba(200,100,0,0.5); 
	border-radius: 20px;
	text-align: center;
}

#egmap_canvas_1{
	margin: 5% auto;
}

.videoContents{
	margin: 1% 0;
	background-color: rgba(200,100,0,0.5);
	border-radius: 20px;
	text-align: center;
}

.video{
	margin: 1% 0;
}

/*== TimeTable ==*/
#timetable{
	text-align: center;
}
tr{
	height: 22px;
}

.sponsorContents{
	background-color: rgba(200,100,0,0.5);
	border-radius: 20px;
	text-align: center;
}

.sponsorName{
	margin: 3% 0;
	padding: 0;
	font-size: 22px;
	color: white;
}

.random{
	padding: 2%;
	font-size: 10px;
}

#footer{
	text-align: center;
}

.footerTxt{
	font-size: 10px;
	color: gray;
}

.footerLink{
	color: gray;
	text-decoration: none;
}


/*== events page style ==*/

#eventTitle{
	width: 100%;
}

.eventTitle{
	text-align: center;
	color: white;
}

.contentsTitle{
	font-size: 24px;
	color: white;
}

.contentsText{
	font-size: 18px;
	color: white;
}

#eventDetail{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.eventTable{
	width: 100%;
	border-collapse: collapse;
}

tr{
	border-color: white;
}

.tdLeft{
	border-color: white;
	width: 30%;
	text-align: center;
	font-size: 20px;
	color: white;
}

.tdRight{
	border-color: white;
	width: 70%;
	color: white;
	font-size: 18px;
}

.tsProfileImage{
	width: 100%;
	display: block;
	border-radius: 50%;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

.joinButton {
	display: inline-block;
	width: 40%;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	background-color: RGB(72, 193, 38);
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 30px;
	border-width: 3px;
	border-color: black;
}
.joinButton::before,
.joinButton::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.joinButton,
.joinButton::before,
.joinButton::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.joinButton:hover{
	background-color: #59b1eb;
}

.imageCenter{
	display: block;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	text-align: center;
}